button {
    border: none;
    background-color: rgb(101,119,134);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgba(29,161,242, 0.30);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(29,161,242);
  }
  

  .C {
    background-color: rgb(29,161,242);
  }
  